.btn1{
    color: rgb(247, 243, 243);
    background-color: rgb(39, 24, 81);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    
   


}
.btn2{
    color: rgb(12, 12, 12);
    background-color: rgb(245, 245, 249);
    border-radius: 20px;
    width: 150px;
    height: 30px;
    
}
body{
    width: 100%;
    height: 100vh;
   text-align: center;
margin-top: 20%;

}
.container{
    display: grid;
    gap: 40%;
    align-items: center;
    justify-content: center;
}